//* require leaflet

$heart-yellow: #f9d658;
$links: #328EC6;
@import 'foundation';

body {
	font-family: 'QuickSand';
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  background-color: #fdfbf9;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'QuickSand';
}

#crest, #names {
	text-align: center;
	margin: 0 auto;
	display: block;
}

#names { 
    width: 440px;
    padding-right: 24px;
	padding-top: 24px;
}

#crest { 
	width: 200px;
	padding-top: 24px;
}

.text {
  font-size: emCalc(24px);

  strong {
    font-weight: 700;
  }
}

#map {
  border-top: 5px solid $heart-yellow;
  border-bottom: 5px solid $heart-yellow;
  margin: 20px 0 40px 0;
  height: 400px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  #map {
    height: 320px;
  }
}

#actions  {
	text-align: center;
	margin: 0 auto;
	
	li {
		padding: 10px;
		display: inline-block;
		a {
			color: $links;
			&:hover {
				color: darken($links, 20);
			};
		}
	}
}

h2 {
	font-size: emCalc(32px);
}

@font-face {
font-family: QuickSand;
src: url("/images/fonts/Quicksand-Light.otf") format("opentype");
}

@font-face {
font-family: QuickSand;
font-weight: bold;
src: url("/images/fonts/Quicksand-Bold.otf") format("opentype");
}