//* require leaflet


@import 'foundation';

body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'futura-pt';
  color: white;
}

h1 {
  font-family: "futura-pt-condensed";
  font-weight: 800;
  font-size: emCalc(60px);
}

.text {
  font-size: emCalc(24px);
  color: white;

  strong {
    font-weight: 700;
  }
}

#map {
  border-top: 5px solid #fff800;
  border-bottom: 5px solid #fff800;
  margin: 20px 0 40px 0;
  height: 500px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  #map {
    height: 320px;
  }
}

