---
title: James & Brittany's Party!
---
	<img src='/images/crest.gif' alt="james and brittany's wedding crest or whatever" id='crest'>
	<img src='/images/names.gif' alt="james and brittany\'s names and stuff" id='names'>

  <ul id='actions'>
	  <li><h2><a href='/offsite-rsvp.html'>RSVP</a></h2></li>
  	  <li><h2><a href='https://thankfulregistry.com/jamesandbrittany' target="_blank">Registry</a></h2></li>
  </ul>

<div class="row">
  <div id="map"></div>
</div>

<div class="row" id="information">
  <div class="small-12 large-4 columns">
    <h2>Venue</h2>  
  	  <div class="vcard">
  		  <p class="fn">Palisade<p>
  		  <p class="adr">
  			  <span class="street-address-1">Elliott Bay Marina</span><br>
  			  <span class="street-address-2">2601 West Marina Place</span><br>
  			  <span class="region">Seattle, WA</span>
  			  <span class="postal-code">98199</span><br>
  			  <span class="country-name">USA</span>
   	 	</p>
        <p class="tel">(206) 285-1000</p>
     	<p class="directions">Directions on <a href='https://www.google.com/maps/dir//Palisade,+Elliott+Bay+Marina,+2601+West+Marina+Place,+Seattle,+WA+98199,+United+States/@47.630287,-122.391466,15z/data=!4m12!1m3!3m2!1s0x0:0x5c2caffa98e9cb76!2sPalisade!4m7!1m0!1m5!1m1!1s0x54903fd62b5e7f83:0x5c2caffa98e9cb76!2m2!1d-122.391466!2d47.630287'>Google Maps</a></p>

	</div>
  </div>
  <div class="small-12 large-4 columns">
    <h2>Date</h2>  
  		  <p class="adr">
  			  <span class="date">July 18th, 2015</span><br>
  			  <span class="time">4:30pm</span><br>
  			  <span class="time">Buffet and refreshments will be served</span><br>
   	 	</p>
  </div>
  <div class="small-12 large-4 columns">
    <h2>Questions?</h2>
    <p>Feel free to email <a href='mailto:catherinehart954@gmail.com'>Kit Hart</a> or <a href='mailto:hjhart@gmail.com'>James Hart</a></p>
  </div>
</div>
	
