---
title: James & Brittany's Party!
---
	<img src='/images/crest.gif' alt="james and brittany's wedding crest or whatever" id='crest'>
	<img src='/images/names.gif' alt="james and brittany\'s names and stuff" id='names'>

  <ul id='actions'>
	  <li><h2><a href='http://invite.wedivite.com/brittanyandjames/rsvp' target="_blank">RSVP</a></h2></li>
  	  <li><h2><a href='https://thankfulregistry.com/jamesandbrittany' target="_blank">Registry</a></h2></li>
  </ul>

  <div id="map"></div>
  <div class="row" id="footer">
    Thank you for helping us celebrate our marriage!</a>
  </div>
</div>