---
title: James & Brittany's Party!
---
  <h2>The Location!</h2>

  <div id="map"></div>

  <div class="row" id="footer">
    James & Brittany's website was crafted<br/> with love by <a href="http://www.hjhart.com">James</a>
  </div>
</div>