---
title: You're going away from the Party!
---
	<img src='/images/crest.gif' alt="james and brittany's wedding crest or whatever" id='crest'>

<div class="row">
    <h2>You are now being directed to another service to RSVP.</h2>
    <p>After RSVPing, don't forget to close the tab and <a href="/">click here to return to the original party site</a>.</p>
    <p><strong>Click <a href='http://invite.wedivite.com/brittanyandjames/rsvp' target="_blank">here to RSVP</a></strong>. Thanks!</p>
</div>